USE [master]
GO
/****** Object:  Database [supermercado]    Script Date: 3/04/2022 9:23:28 p. m. ******/
CREATE DATABASE [supermercado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'supermercado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\supermercado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'supermercado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\supermercado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [supermercado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [supermercado]
GO
/****** Object:  Table [dbo].[administradores]    Script Date: 3/04/2022 9:23:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administradores](
	[id] [varchar](15) NOT NULL,
	[correo] [nvarchar](50) NOT NULL,
	[nombre] [varchar](45) NOT NULL,
	[celular] [varchar](20) NOT NULL,
	[contraseña] [varchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 3/04/2022 9:23:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[cod_produco] [varchar](15) NOT NULL,
	[nombre_producto] [varchar](45) NOT NULL,
	[marca] [varchar](45) NOT NULL,
	[existencias] [int] NOT NULL,
	[precio] [int] NOT NULL,
	[descuento] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cod_produco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[administradores] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[productos] ADD  DEFAULT ((1)) FOR [activo]
GO
/****** Object:  StoredProcedure [dbo].[consultar_admin]    Script Date: 3/04/2022 9:23:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[consultar_admin] 
@pid_admin varchar(15)
as
	select * from administradores where id = @pid_admin
GO
/****** Object:  StoredProcedure [dbo].[consultar_producto]    Script Date: 3/04/2022 9:23:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[consultar_producto]
@pcod_producto varchar(15)
as
	if @pcod_producto = ''
		select * from productos
	else
		select * from productos where cod_produco = @pcod_producto
GO
/****** Object:  StoredProcedure [dbo].[guardar_producto]    Script Date: 3/04/2022 9:23:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[guardar_producto]
@pcod_producto varchar(15),
@pnombre_producto varchar(45),
@pmarca_producto varchar(45),
@pprecio int,
@pexistencias int,
@pdescuento int
as
	insert into productos(cod_produco,nombre_producto,marca,existencias,precio,descuento)
	values(@pcod_producto,@pnombre_producto,@pmarca_producto,@pexistencias,@pprecio,@pdescuento)
GO
USE [master]
GO
